@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE HTML>
<html>
<head>
	<title>OnlineShop</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--<link rel="stylesheet" href="~/css/main.css" />-->
</head>
<body>
	<!-- Header -->
	<!-- Banner -->
	@*<section>*@
		<div class="home">
			<header class="heading">OnlineShop</header>
			@*<img href=""/>*@
			<div>
				<div>
					<h3>Самовивіз</h3>
					<p>Ви можете самостійно забрати товар з нашого магазину</p>
				</div>
				<div>
					<span class="icon fa-camera"></span>
					<h3>Доставка</h3>
					<p>Ми доставимо товар за адресою, яку ви вкажете</p>
				</div>
				<div>
					<span class="icon fa-bug"></span>
					<h3>Гарантія</h3>
					<p>Ми гарантуємо якість нашого товару</p>
				</div>
			</div>
		</div>
	@*</section>*@
</body>
</html>